<h1><%= @group.name%></h1>

<h3><%= @group.tasks.length %></h3>

<%= button_to 'New Task', new_task_path, method: :get%>

<% @group.tasks.each do |task| %>
  <p><%= task[:name]%></p>
  <p><%= task.user[:name]%></p>
  <p><%= task[:points]%></p>

<% end %>