<div class='item-container' style='border: 2px solid blue; border-radius: 20px;'>
  <%= avatar(@user) %>
  <p id='user_widget_name'><%= @user[:name] %></p>
  <div></div>
</div>

<div class='item-container'>
<%= simple_form_for @user, method: :put do |f| %>
  <%= f.input :image %>
  <%= f.button :submit, 'Change picture', class: 'profile-btn' %>
<% end %>
</div>

<div class='item-container'><%= link_to "My Tasks", {:controller => "tasks", :action => "index", :external => false }%></div>
<div class='item-container'><%= link_to "External Tasks", {:controller => "tasks", :action => "index", :external => true }%></div>
<div class='item-container'><%= link_to "All Groups", groups_path%></div>