<div class='item-container'>
  <%= avatar(@user) %>
  <p><%= @user[:name] %></p>
  <div></div>
</div>

<div class='item-container'>
<%= simple_form_for @user, method: :put do |f| %>
  <%= f.file_field :image %>
  <%= f.button :submit, 'Change picture', class: 'profile-btn' %>
<% end %>
</div>

<div class='item-container'><%= link_to "My Tasks", {:controller => "tasks", :action => "index", :external => false }%></div>
<div class='item-container'><%= link_to "External Tasks", {:controller => "tasks", :action => "index", :external => true }%></div>
<div class='item-container'><%= link_to "All Groups", groups_path%></div>