<div class="login">

  <%= user_avatar(@user)%>
  <h3 id='user_widget_name'><%= @user[:name] %></h3>


  <div class='links-profile'>
    <%= link_to user_link(0), {:controller => "tasks", :action => "index", :external => false }%>
    <%= link_to user_link(1), {:controller => "tasks", :action => "index", :external => true }%>
    <%= link_to user_link(2), groups_path%>
    <%= link_to user_link(3), edit_user_path(current_user) %>
    <%= link_to user_link(4), log_out_path, method: :post %>
  </div>
</div>