<div class='item-container'>
  <%= avatar(@user) %>
  <p><%= @user[:name] %></p>
  <div></div>
</div>

<%= simple_form_for @user, method: :put do |f| %>
  <%= f.file_field :image %>
  <%= f.button :submit, 'Change picture' %>
<% end %>

<div class='item-container'><%= link_to "All my Tasks", tasks_path %></div>

<div class='item-container'><%= link_to "All Groups", groups_path %></div>